apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: learn-eks-sm
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
        version: v1
    spec:
      containers:
      - name: frontend
        image: ghcr.io/himanm/devops-project-6/frontend:sha-69ea082
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
        env:
        - name: NEXT_PUBLIC_BACKEND_URL
          value: "http://backend" # For Server Side
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: learn-eks-sm
  labels:
    app: frontend
spec:
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 3000
